<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.project.member.dto.MemberDTO" alias="member"></typeAlias>
        <typeAlias type="com.project.member.dto.ProductDTO" alias="product"></typeAlias>
        <typeAlias type="com.project.member.dto.CartDTO" alias="cart"></typeAlias>
        <typeAlias type="com.project.member.dto.OrderDTO" alias="order"></typeAlias>

    </typeAliases>
</configuration>