<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "Admin">
    <!--회원리스트-->
    <select id="m_list" resultType="member">
        select * from members
    </select>
    <!--회원등급업-->
    <update id="updateInfo" parameterType="map">
        update members set m_grade = #{m_grade} where m_idx = #{m_idx}
    </update>
    <!--회원삭제-->
    <delete id="deleteInfo" parameterType="list">
        delete from members where m_idx in
        <foreach collection="list" item="m_idx" open="(" separator="," close=")">#{m_idx}</foreach>
    </delete>
    <select id="o_list" resultType="order">
        select
        o_idx, m_idx, o_rec,
        m_addr1, m_addr2, m_addr3,
        o_tel, o_totalprice, o_date, o_delivery
        from orders order by o_date desc;
    </select>

</mapper>