<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "Cart">
    <insert id="cartAdd" parameterType="cart">
        insert into cart(m_idx, p_idx, c_cnt)
        values(#{m_idx},#{p_idx},#{c_cnt})
    </insert>
    <select id="cartList" parameterType="cart" resultType="cart" >
        select a.c_idx, a.c_cnt, a.m_idx, b.p_idx, b.p_name, b.p_img1,b.p_sale, b.p_price, a.c_cnt*(b.p_price*(100-b.p_sale)/100) as c_price
        from cart a join product b on a.p_idx = b.p_idx
        where m_idx= #{m_idx}
        order by a.c_idx desc
    </select>
    <select id="productPrice" resultType="HashMap">
        select SUBSTRING_INDEX(totalprice,'.', 1) as totalprice
        from  (select sum(c_cnt*(p_price*(100-b.p_sale)/100)) as totalprice
        from cart a join product b on a.p_idx=b.p_idx join members d on a.m_idx=d.m_idx
        where a.m_idx=2) t
    </select>
    <update id="cartPlus" parameterType="cart">
        update cart
        <![CDATA[
        set c_cnt = c_cnt + #{c_cnt}
        ]]>
         where m_idx = #{m_idx} and p_idx = #{p_idx};
    </update>
    <select id="check" resultType="int">
        select count(*) from cart where m_idx=#{m_idx} and p_idx = #{p_idx}
    </select>
    <select id="cartCnt" parameterType="cart" resultType="cart">
        select count(c_cnt) as cnt from cart where m_idx= #{m_idx}
    </select>
    <update id="update" parameterType="cart">
        update cart set c_cnt = #{c_cnt} where m_idx = #{m_idx} and c_idx = #{c_idx}
    </update>
    <delete id="delete" parameterType="cart">
        delete from cart where c_idx = #{c_idx} and m_idx = #{m_idx}
    </delete>
</mapper>