<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Member">
    <insert id="save" parameterType="member">
        insert into members(m_email, m_id, m_pw, m_tel, m_jumin, m_gender)
        values (#{m_email}, #{m_id}, #{m_pw}, #{m_tel}, #{m_jumin}, #{m_gender})
    </insert>
    <select id="login" parameterType="member" resultType="member">
        select count(*) as m_auth, m_grade,m_id from members where m_id = #{m_id} and m_pw = #{m_pw}
    </select>
    <select id="searchId" parameterType="string" resultType="string">
        select m_id from members where m_email = #{m_email}
    </select>
</mapper>